<?php echo $this->doctype(); ?>

<html lang="en">
    <head>
        <?php
            echo $this->headTitle('Main Project')->setSeparator(' - ')->setAutoEscape(false);
            
            echo $this->headMeta()
                ->setCharset('UTF-8')
                ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
                ->appendName('viewport', 'width=device-width, initial-scale=1.0');
            
            $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath('img/favicon.ico')))
                ->appendStylesheet($this->basePath('components/bootstrap/css/bootstrap.min.css'))
//                ->appendStylesheet($this->basePath('components/bootstrap/css/bootstrap-theme.min.css'))
                ->appendStylesheet($this->basePath('css/style.css'))
               ;
            echo $this->headLink();
        ?>
        
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Bootstrap theme</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div><!--/.nav-collapse -->
          </div>
        </nav>
        
        <?php echo $this->partial('partials/header'); ?>
        <div class="row">
            <div class="col-md-2">
                <!--Categories-->
                <?php echo $this->partial('partials/left_bar'); ?>
            </div>
            <div class="col-md-8">
                <!--<div class="container">-->
                <?php echo $this->content; ?>
                <!--</div>  /container -->
            </div>
            <div class="col-md-2">
                <!--Tag Cloud-->
                <?php echo $this->partial('partials/right_bar'); ?>
            </div>
        </div>
        <?php echo $this->partial('partials/footer'); ?>
        
        <!-- Scripts -->
        <?php
            $this->headScript()
                ->appendFile($this->basePath('components/jquery/jquery.min.js'))
                ->appendFile($this->basePath('components/bootstrap/js/bootstrap.min.js'))
//                ->appendFile($this->basePath('js/plugins/morris/raphael.min.js'))
//                ->appendFile($this->basePath('js/plugins/morris/morris.min.js'))
//                ->appendFile($this->basePath('js/plugins/morris/morris-data.js'))
                    ;
            echo $this->headScript();
        ?>
    </body>
</html>
