<div class="list-group">
    <?php foreach ($this->appNavigation()->getCategoriesList() as $category) : ?>
        <a href="<?php echo $this->url('app/products_by_category', array('id'=>$category['id']));?>" class="list-group-item">
            <?php
                // Add spaces at the beginning of the category name
                echo str_repeat('&nbsp;&nbsp;&nbsp;', $category['level']) . $category['name'];
            ?>
        </a>
    <?php endforeach; ?>
</div>



<!--<div class="list-group">
  <a href="#" class="list-group-item active">
    Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Vestibulum at eros</a>
</div>-->

