body {
    padding-top: 70px;
    padding-bottom: 30px;
    margin: 0;
}
.category-title {
    font-size: 24px;
    color: black;
    text-align: center;
}
.product-title {
    font-size: 18px;
    color: black;
    text-align: center;
    margin-bottom: 15px;
}
.unit-price {
    font-size: 14px;
    color: red;
    text-align: left;
}
.unit-type-name {
    font-size: 16px;
    color: blue;
    text-align: left;
}