
<div class="row">
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="160" width="160" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="140" width="140" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="120" width="120" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="100" width="100" height="100" class="img-circle"/>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="160" width="160" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="140" width="140" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="120" width="120" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="img/imgpsh_fullsize.jpg" alt="100" width="100" height="100" class="img-circle"/>
    </div>
</div>