<div class="category-title">Category&nbsp;&mdash;&nbsp;<?php echo $this->escapeHtml(ucfirst($category->getName())); ?></div>
<hr />
<div class="row">
    <div class="col-md-3">
        <img src="/img/imgpsh_fullsize.jpg" alt="160" width="160" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="/img/imgpsh_fullsize.jpg" alt="140" width="140" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="/img/imgpsh_fullsize.jpg" alt="120" width="120" class="img-responsive"/>
    </div>
    <div class="col-md-3">
        <img src="/img/imgpsh_fullsize.jpg" alt="100" width="100" height="100" class="img-circle"/>
    </div>
</div>
<hr />

    <?php foreach ($productsSorted as $products) : ?>
    <div class="product-title">
        <?php echo $this->escapeHtml(ucfirst($products[0]->getName())); ?>
    </div>
        <div class="row">
            <?php foreach ($products as $product) : ?>
    <!--            <div class="col-md-3">
                    <img src="/img/imgpsh_fullsize.jpg" alt="120" width="120" class="img-responsive"/>
                </div>-->
                <div class="col-md-3">
                    <img src="<?php echo $this->basePath(
                            'img/'
                            . $this->escapeHtml($product->getAltUnique())
                            . '_'
                            . $this->escapeHtml($product->getCategoryId())
                            . '_'
                            . $this->escapeHtml($product->getId())
                            . '.jpg'
                        ); ?>"
                        alt="<?php echo $this->escapeHtml($product->getCategoryId()); ?>"
                        width="120"
                        class="img-responsive"
                    />
                    <div class="unit-price">
                        Price:&nbsp;&#8364;<?php echo $this->escapeHtml($product->getUnitPrice()); ?>
                    </div>
                    <div class="unit-type-name">
                        <?php echo $this->escapeHtml($product->getUnitTypesName()); ?>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
        <hr />
    <?php endforeach; ?>

