<?php
    $title = 'Add Category';
    $this->headTitle($title);
?>
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <?php echo $title; ?> <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!-- /.form -->
<div class="row">
    <div class="col-lg-6">
        <?php
            $this->form->prepare();
            echo $this->form()->openTag($this->form);
        ?>

        <div class="form-group">
            <?php
                $categoryName = $this->form->get('name');
                $categoryName->setAttributes(array(
                    'class' => 'form-control'
                ));
                echo $this->formLabel($categoryName);
                echo $this->formInput($categoryName);
                echo $this->formElementErrors()
                    ->setMessageOpenFormat('<div>')
                    ->setMessageCloseString('</div>')
                    ->render($categoryName);
            ?>
        </div>

        <div class="form-group">
            <?php
                $categoriesSelect = $this->form->get('parent_id');
                $categoriesSelect->setAttributes(array(
                    'class' => 'form-control'
                ));
                echo $this->formLabel($categoriesSelect);
                echo $this->formSelect($categoriesSelect);
            ?>
        </div>
        
        <div class="form-group">
            <?php
                $isActive = $this->form->get('is_active');
                echo $this->formLabel($isActive);
            ?>
            <div class="checkbox">
                <label>
                    <?php
                        echo $this->formCheckbox($isActive);
                        echo 'Active/Inactive (if inactive, the category will be hidden)';
                    ?>
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <?php
                    $element = $this->form->get('send');
                    $element->setAttributes(array(
                        'class' => 'btn btn-primary'
                    ));
                    echo $this->formElement($element);

                    $element = new \Zend\Form\Element\Button('my-button');
                    $element->setLabel('Reset');
                    $element->setAttributes(array(
                        'class' => 'btn btn-default'
                    ));
                    echo $this->formButton($element);
                ?>
            </div>
        </div>

        <?php
            echo $this->form()->closeTag();
        ?>
    </div>
</div>
<!-- /.end of form -->
<!-- /.row -->