<?php
    $title = 'Products';
    $this->headTitle($title);
?>

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            <?php echo $title; ?> <small>Statistics Overview</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Dashboard
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <h2>Bordered Table</h2>
        <div>
            <a href="<?php echo $this->url('admin/product', array('action'=>'add')); ?>">
                Add Product
            </a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Alt Text</th>
                        <th>Category</th>
                        <th>Show In Menu</th>
                        <th>Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach ($products as $product) : ?>
                    <tr>
                        <td><?php echo $this->escapeHtml($product->getId());?></td>
                        <td><?php echo $this->escapeHtml($product->getName());?></td>
                        <td><?php echo $this->escapeHtml($product->getDescription());?></td>
                        <td><?php echo $this->escapeHtml($product->getAltUnique());?></td>
                        <td><?php echo $this->escapeHtml($product->getCategoryName());?></td>
                        <td><?php echo $this->escapeHtml($product->getIsActive());?></td>
                        <td>
                            <a href="<?php echo $this->url('admin/product',
                                array('action'=>'edit', 'id' => $product->getId()));?>">Edit</a>
                            <a href="<?php echo $this->url('admin/product',
                                array('action'=>'delete', 'id' => $product->getId()));?>">Delete</a>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.row -->
